In [1]:
import pandas as pd

In [13]:
links = pd.read_csv('/Users/diana/Documents/dianaow.github.io/forcelayout/data/nodes_edges_sea.csv')

In [31]:
entity = pd.read_csv('/Users/diana/Documents/dianaow.github.io/forcelayout/data/nodes_filt_entity.csv')

In [10]:
officer = pd.read_csv('/Users/diana/Documents/dianaow.github.io/forcelayout/data/nodes_officer_sea.csv')

In [41]:
officer[officer['name'].str.contains('Lee')]

,node_id,name,country_codes,countries,status,sourceID,valid_until,note
52,80040268,Boon Suan Lee & Co.,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
138,80048559,CHIEW - Lee Fook,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
476,80091401,Lee - Ming Lun,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
477,80091404,Lee - Wei Gia,MYS,Malaysia,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
478,80091419,Lee - Tiang Soon,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
479,80091423,Lee - Hsien Yang,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
480,80091455,Lee - Anthony Vui Han,MYS,Malaysia,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
482,80091487,Lee - Chen Woon (Li Zhengwen),SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
483,80091507,Lee - Chooi Keng,MYS,Malaysia,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
488,80091587,Lee - Han Chwee,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
490,80091665,Lee - Keat Hin,MYS,Malaysia,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
494,80091831,Lee - Suet Fern,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
497,80091853,TSAO - Yuan Mrs Lee Soo Ann,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
577,80094068,Ling - Alex Lee Soon,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
595,80095179,LOH - Siew Lee,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
609,80096020,Luckey - Larry Lee,IDN,Indonesia,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
720,80110170,Pang - Tye Lee,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
745,80113414,Lee - Keen Pong,MYS,Malaysia,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
828,80126592,Song - Lee Kim,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
843,80128963,Su - Lee Soon Nee Yeo,MYS,Malaysia,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
907,80130826,Tan - Paul Poh Lee,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
986,80133994,Tong - Min Lee,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
1029,80143831,Whye - Lee Keen,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
1200,80079926,Lee - Sau Hun,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
1228,80091424,Lee - Hsien Yang & Lim Suet Fern,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
1229,80091461,Lee - Bee Chern,MYS,Malaysia,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
1233,80091836,Lee - Swee Kian,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
1300,80120915,Sao-Wei Lee - Alex,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
1383,80091649,Lee - John William,SGP,Singapore,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
1384,80091840,Lee - Tang Yow,MYS,Malaysia,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
1391,80148211,Yun - Wong Lee,MYS,Malaysia,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,NaN
1401,80147426,Lee - Yoke Yew,MYS,Malaysia,NaN,Paradise Papers - Appleby,Appleby data is current through 2014,Not all beneficiaries are aware of offshore tr...

In [44]:
links[links['START_ID'] == 80091831]

,START_ID,TYPE,END_ID,link,start_date,end_date,sourceID,valid_until
1755,80091831,registered_address,81054816,mailing address; residential address,NaN,NaN,Paradise Papers - Appleby,Appleby data is current through 2014
1756,80091831,officer_of,82005889,director of,01-JUL-2005,31-DEC-2008,Paradise Papers - Appleby,Appleby data is current through 2014

In [45]:
links[links['END_ID'] == 82005889]

,START_ID,TYPE,END_ID,link,start_date,end_date,sourceID,valid_until
1622,80088965,officer_of,82005889,secretary of,30-APR-2008,31-DEC-2008,Paradise Papers - Appleby,Appleby data is current through 2014
1756,80091831,officer_of,82005889,director of,01-JUL-2005,31-DEC-2008,Paradise Papers - Appleby,Appleby data is current through 2014
2066,80094980,officer_of,82005889,secretary of,10-DEC-2003,18-MAY-2006,Paradise Papers - Appleby,Appleby data is current through 2014

In [37]:
links[links['END_ID'] == 81013483]

,START_ID,TYPE,END_ID,link,start_date,end_date,sourceID,valid_until
3345,80135120,registered_address,81013483,mailing address; residential address,NaN,NaN,Paradise Papers - Appleby,Appleby data is current through 2014
3351,80135121,registered_address,81013483,residential address; mailing address,NaN,NaN,Paradise Papers - Appleby,Appleby data is current through 2014
3363,80135143,registered_address,81013483,residential address; mailing address,NaN,NaN,Paradise Papers - Appleby,Appleby data is current through 2014
3745,80042465,registered_address,81013483,mailing address; residential address,NaN,NaN,Paradise Papers - Appleby,Appleby data is current through 2014
3747,80042467,registered_address,81013483,residential address; mailing address,NaN,NaN,Paradise Papers - Appleby,Appleby data is current through 2014
3749,80042469,registered_address,81013483,residential address,NaN,NaN,Paradise Papers - Appleby,Appleby data is current through 2014

In [34]:
entity[entity['node_id'] == 82012889]

,node_id,name,jurisdiction,jurisdiction_description,country_codes,countries,incorporation_date,inactivation_date,struck_off_date,closed_date,ibcRUC,status,company_type,service_provider,sourceID,valid_until,note
794,82012889,PACIFIC CREDIT LIMITED,KY,Cayman Islands,CYM;SGP,Cayman Islands;Singapore,26-APR-1978,NaN,NaN,NaN,13463,NaN,NaN,Appleby,Paradise Papers - Appleby,Appleby data is current through 2014,NaN